@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    font-size: 18px;
    color: #161616;
    background: #D8D8D6;
    height: 100%;
}

main {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background: #81A36B;
    padding: 25px 0;
    color:#161616;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 5px;
}

.header a {
    color:#161616;
    text-decoration: none;
    line-height: 30px;
}

.header-logo {
    text-transform: uppercase;
    font-size: 36px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 90px;
}

/* 2 fonts for short code*/ 

.roboto {
    color: #161616;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.montserat {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}


/* main section */
.section-one {
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    max-width: 540px;
    height: 314px;
}

.title {
    color: #161616;
    text-align: left;
    font-size: 62px;
    margin-top: 178px;
    line-height: normal;
}


.section-one-p {
    margin-top: 60px;
    line-height: 164%;
}

.btn {
    margin-top: 40px;
}

.btn-one {
    background: #81A36B;
    width: 190px;
    height: 60px;
}

.btn-two {
    border: 1px solid #81A36B;
    width: 190px;
    height: 60px;
    margin-left: 65px;
}

/* about us */ 

.about-us {
    max-width: 540px;
    height: 180px;
    text-align: center;
    margin-top: 120px;
}

.title-h2 {
    color: #000;
    font-size: 32px;
    margin-bottom: 60px;
}

.about-us-p {
    color: #161616;
    text-align: center;
    line-height: 164%;
}

/*ADVANTEGES*/

.advanteges {
    background: #81A36B;
    padding: 80px 0;
    margin-top: 120px;
}

.list-advanteges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.list-items {
    text-align: center;
}

.list-items p {
    margin-top: 20px;
    color: #161616;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* How we work*/

.we-work {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: #161616;
}

.title-h3 {
    text-align: center;
    font-size: 32px;
    line-height: normal;
}

.we-work-p {
    line-height: 164%;
    margin-top: 60px;
}


/*  OUR WORKS */
.our-work {
    margin-top: 120px;
    margin-bottom: 120px;
}

.our-work-h3 {
    color: #161616;
    text-align: center;
    font-size: 32px;
    line-height: normal;
}

.card-works {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
}

.card-works li {
    max-width: 350px;
    height: 510px;
    background: #81A36B;
}

.our-works-img {
    width: 320px;
    height: 402px;
    padding: 15px;
}
.our-work-p {
    text-align: center;
    line-height: 164%;
    margin-top: 23px;
}

/* FOOTER */

.footer {
    background: #81A36B;
    height: 390px;
    text-align: center;
    padding: 25px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-padding {
    padding-top: 60px;
}

.contacts {
    color: #161616;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-bottom: 40px;
}

.tel {
    line-height: 164%;
    text-decoration: none;
}

.phone {
    margin-bottom: 20px;
}

.footer-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-center-p {
    color: #161616;
    font-size: 36px;
    line-height: normal;
    margin-top: 60px;
}

.numders {
    color: #161616;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icons-p {
    color: #161616;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
}

.list-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


